.App {
  font-family: 'Spartan';
  margin-left: 10%;
  margin-right: 10%;
}

.page-name{
  
  position: absolute;
  top: 200px;
  left:20px;
  transform: rotate(90deg);
  font-size: 12pt;
  letter-spacing: 15px;
  color: #C8CCD8;
  
  
}

.line{
  position: absolute;
  top: 0px;
  left: 80px;
  content: '';
  height: 120px !important ;
  border-left: 1px #C8CCD8 solid;
  
}
