.App {
  font-family: 'Spartan';
  
  
}

.page-name{
  position: absolute;
  top: 200px;
  left:20px;
  transform: rotate(90deg);
  font-size: 12pt;
  letter-spacing: 15px;
  color: #C8CCD8;
  
  
}

.line{
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 80px;
  content: '';
  height: 120px !important ;
  border-left: 1px #C8CCD8 solid;
  
}

html,body{
  overflow-x: hidden;
}

@media screen and (max-width:459px){
  .App{
    padding-left: 0;
    padding-right: 0;
  }
}


@media screen and (max-width:850px){
  
  
    
  .page-name{
  
    display: none;
    
  }
  
  .line{
   display: none;
    
  }
}


