.featured{

   position: relative;
    display: flex;
    flex-direction: column;
    
    .title-wrap{
        display: flex;

        .main-title{
            font-weight: bold;
            font-size: 30pt;
            margin-top: 0;
        }

        .button-wrap{
            margin-left: auto;
        }
    }

    .example-projects{
        display: flex !important;
        width: 100%;
        margin-bottom: 100px;
        position: relative;
        justify-content: space-between;
        
        .example-project{
            width: 300px;
            overflow: hidden;
            color: white; 
            height:inherit;
            position: relative;
            background-color: black;


            .example-project-img{
                opacity: .8;
                display: flex;
                img{
                    
                    width: 100%;
                    height: auto; 

                }
            }

            .example-project-number{
                padding: 0;
                margin: 0;
                opacity: .5;
                color: white;
                font-weight: bold;
                font-size: 120pt;
                position: absolute;
                top: 10px;
                right: -18px;
            }

            
            .example-project-title{
                position: absolute;
                bottom:3rem;
                left: 2rem;
                font-weight: bold;
            }
            .example-project-text{
                position: absolute;
                bottom:1rem;
                left: 2rem;
            }
          
            
        }
    }
}


@media screen and (max-width:1146px){

    .example-projects{
       flex-direction: column !important;


        .example-project{
            margin-left: auto;
            margin-right: auto;
            width: 100% !important;
             margin-bottom: 50px;
            max-height: 200px ;
          
            
        }

        
    }
}


@media screen and (max-width:550px){
    .featured{
        margin-bottom: 100px;
    .main-title{
        padding-left: 10%;
    }
    .button-wrap{
        position: absolute;
        width: 90%;
        bottom: 0;
        padding-left: 10%;
        margin-bottom: 20px;
        justify-content: center;
    }

    .example-projects{
        display: flex ;
        flex-direction: column ;
        justify-content: center !important;
    
        .example-project{
            margin-bottom: 50px;
            justify-content: center !important;
            display: flex;
            width: 80% !important ;
            height: 350px !important;
            
            .example-project-img{
                height: 100%;
                width: 100%;
            }
           
            
        }

        
    }
}
}